<div class="top">
    <div class="top_main">
        <div class="top_container">
        </div>
    </div>
    <div class="top_container">
        <div class="area_select">
            <h2 class="section_title">おすすめのエリア</h2>
            <div class="area_item">
                <div class="item">
                    <span class="area_item_span">東京</span>
                    <%= link_to image_tag("img_tokyo"), "/" %>
                </div>
                <div class="item">
                    <span class="area_item_span">大阪</span>
                    <%= link_to image_tag("img_osaka"), "/" %>
                </div>
                <div class="item">
                    <span class="area_item_span">京都</span>
                    <%= link_to image_tag("img_kyoto"), "/" %>
                </div>
                <div class="item">
                    <span class="area_item_span">札幌</span>
                    <%= link_to image_tag("img_sapporo"), "/" %>
                </div>
            </div>
        </div>

    </div>
</div>
