<div class="reservation_container">
    <div class="reservation_view_box">
        <div class="reservation_content">
            <p class="left_content">予約した部屋</p>
            <p class="right_content"><%=link_to(@reserve_room.room.name,room_path(@reserve_room.room.id))%></p>
        </div>
        <div class="reservation_content">
            <p class="left_content">開始日</p>
            <p class="right_content"><%= @reserve_room.start_date.strftime("%Y年%m月%d日") %></p>
        </div>
        <div class="reservation_content">
            <p class="left_content">終了日</p>
            <p class="right_content"><%= @reserve_room.end_date.strftime("%Y年%m月%d日") %></p>
        </div>
        <div class="reservation_content">
            <p class="left_content">価格</p>
            <p class="right_content"><%= "#{@reserve_room.sum_price}円" %></p>
        </div>
    </div>
</div>
